
doctype html
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.indigo-pink.min.css')
script(defer='', src='https://code.getmdl.io/1.2.1/material.min.js')
script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='A front-end template that helps you build fast, modern mobile web apps.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
    title Material Design Lite
    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='icon', sizes='192x192', href='images/android-desktop.png')
    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Material Design Lite')
    link(rel='apple-touch-icon-precomposed', href='images/ios-desktop.png')
    // Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content='#3372DF')
    link(rel='shortcut icon', href='images/favicon.png')
    // SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones
    //
    meta(name='theme-color', content='#A8A8A8')
    meta(name='apple-mobile-web-app-status-bar-style', content='#A8A8A8')

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css')
    link(rel='stylesheet', href='styles.css')
    style.
      #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
      }
      th{
      padding: 15px!important;
      padding-bottom: 0px !important;
      }
      #checkboxes{
      width: 50px;
      }
      .quote{
      display:none;
      }
      a:hover{
      text-decoration: none!important;
      }

          .mdl-layout__content{
            padding: 10px;
          }
          .demo-card-wide.mdl-card {
          position: relative;
          padding: 5px;
          margin: 30px;
          width: 95%;
          }
          .demo-card-wide > .mdl-card__menu {
            display: none;
          }
          .mdl-card__title{
            color: darkgrey!important;
          }
          .mdl-button--red{
          color: #F44336;
          }
  body
    .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
      header.demo-header.mdl-layout__header.mdl-color--grey-100.mdl-color-text--grey-600
        .mdl-layout__header-row
          span.mdl-layout-title PUSHME.ME
          .mdl-layout-spacer
          .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
            label.mdl-button.mdl-js-button.mdl-button--icon(for='search')
              i.material-icons search
            .mdl-textfield__expandable-holder
              input#search.mdl-textfield__input(type='text')
              label.mdl-textfield__label(for='search') Enter your query...
          button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
            i.material-icons more_vert
          ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right(for='hdrbtn')
            li.mdl-menu__item About
            li.mdl-menu__item Contact
            // <li class="mdl-menu__item">Legal information</li>
      .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
        header.demo-drawer-header
          p
            #1.quote
              p
                b "I know of no time in human history where ignorance was better than knowledge."
                br
                | -
                i Neil Degrasse Tyson
            #2.quote
              p
                b "Lasciate ogne speranza, voi ch'intrate. Abandon all hope, ye who enter here."
                br
                | -
                i Dante

        nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
          a.mdl-navigation__link(href='/goals')
            i.mdl-color-text--blue-grey-400.material-icons(role='presentation') assignment
            | Goals
          a.mdl-navigation__link(href='/profile')
            i.mdl-color-text--blue-grey-400.material-icons(role='presentation') inbox
            | Profile
          a.mdl-navigation__link(href='/group')
            i.mdl-color-text--blue-grey-400.material-icons(role='presentation') people
            | Groups
          a.mdl-navigation__link(href='')
            i.mdl-color-text--blue-grey-400.material-icons(role='presentation') forum
            | Messages
          a.mdl-navigation__link(href='/logout')
            i.mdl-color-text--blue-grey-400.material-icons(role='presentation') flag
            | Log Out
          .mdl-layout-spacer
          a.mdl-navigation__link(href='')
            i.mdl-color-text--blue-grey-400.material-icons(role='presentation') help_outline
            span.visuallyhidden Help
      main.mdl-layout__content.mdl-color--grey-100
        .hover1
          nav.container1
            a.buttons(href='#', tooltip='New Message')
            a.buttons(href='#', tooltip='Add Goal')
            a.buttons(href='#', tooltip='New Channel')
            a.buttons(href='#', tooltip='Join Channel')
              i.fa.fa-user-circle-o(aria-hidden='true')
            a.buttons(tooltip='Share', href='#')
        // Simple header with fixed tabs.
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
          header#ha.mdl-layout__header
            // Tabs
            .mdl-layout__tab-bar.mdl-js-ripple-effect
              a.mdl-layout__tab.is-active(href='#fixed-tab-1') Individual 
              a.mdl-layout__tab(href='#fixed-tab-2') Group 
          main.mdl-layout__content.fadein
            section#fixed-tab-1.mdl-layout__tab-panel.is-active
              .page-content
                // TABLE

                - for (var i = 0; i < goals.length; i++)
                  br
                  table#my-table.mdl-data-table.mdl-shadow--2dp.mdl-shadow--2dp
                    thead#heading1
                      thead
                      tr
                        th#checkboxes
                        th#goal1.mdl-data-table__cell--non-numeric
                          span=goals[i].details

                          .progress
                            .progress-bar(role='progressbar', aria-valuenow=progresses[i], aria-valuemin='0', aria-valuemax='100', style='width: '+progresses[i]+'%')
                              span=progresses[i]+"% "
                        th Due Date
                    tbody
                      - for (var x = 0; x < goals[i].tasks.length; x++)
                        tr
                          td
                            label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect.mdl-data-table__select(for=goals[i]._id+"-"+goals[i].tasks[x]._id)
                              if goals[i].tasks[x].completed
                                input.mdl-checkbox__input(type='checkbox', id=goals[i]._id+"-"+goals[i].tasks[x]._id, onclick ='updateCompletion(this)' checked)
                              else

                                input.mdl-checkbox__input(type='checkbox', id=goals[i]._id+"-"+goals[i].tasks[x]._id, onclick ='updateCompletion(this)')
                          td.mdl-data-table__cell--non-numeric=goals[i].tasks[x].details
                          td=goals[i].tasks[x].dueDate
                          script.
                            function updateCompletion(el) {
                              var id = $(el).attr('id').substring(4, $(el).attr('id').length);
                              if($(el).is(':checked')){
                                window.location = '/tasks/:'+id+"/"+":true";
                              } else{ 
                                window.location = '/tasks/:'+id+"/"+":false";
                              }
                            }


            section#fixed-tab-2.mdl-layout__tab-panel
              .page-content
                // TABLE
                table#my-table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
                  thead#heading4
                    tr
                      th#goal1.mdl-data-table__cell--non-numeric
                        | PROMOTE GENDER EQUALITY
                        #p2.mdl-progress.mdl-js-progress
                        script.
                          document.querySelector('#p2').addEventListener('mdl-componentupgraded', function() {
                          this.MaterialProgress.setProgress(40);
                          });
                  tbody
                    tr
                      td.mdl-data-table__cell--non-numeric Join WISE
                    tr
                      td.mdl-data-table__cell--non-numeric Attend TheLadyHacks
                    tr
                      td.mdl-data-table__cell--non-numeric Don't Let Others Undermine You
                br
                // another
                table#my-table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
                  thead#heading1
                    tr
                      th#goal1.mdl-data-table__cell--non-numeric
                        | END WORLD HUNGER
                        #p5.mdl-progress.mdl-js-progress
                        script.
                          document.querySelector('#p5').addEventListener('mdl-componentupgraded', function() {
                          this.MaterialProgress.setProgress(66);
                          });
                  tbody
                    tr
                      td.mdl-data-table__cell--non-numeric Donate to the Food Bank
                    tr
                      td.mdl-data-table__cell--non-numeric Volunteer at the Soup Kitchen
                    tr
                      td.mdl-data-table__cell--non-numeric Don't Waste Food
                br
                // another one
                table#my-table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
                  thead#heading1
                    tr
                      th#goal1.mdl-data-table__cell--non-numeric
                        | FINISH MATH HOMEWORK
                        #p6.mdl-progress.mdl-js-progress
                        script.
                          document.querySelector('#p6').addEventListener('mdl-componentupgraded', function() {
                          this.MaterialProgress.setProgress(22);
                          });
                  tbody
                    tr
                      td.mdl-data-table__cell--non-numeric Do Homework
                    tr
                      td.mdl-data-table__cell--non-numeric Keep Going
                    tr
                      td.mdl-data-table__cell--non-numeric Don't Give Up
                br
                br
                br
                br
                // FOOTER!!!
                footer.mdl-mini-footer
                  .mdl-mini-footer__left-section
                    .mdl-logo Title
                    ul.mdl-mini-footer__link-list
                      li
                        a(href='#') Help
                      li
                        a(href='#') Privacy & Term

link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')