doctype html
html
  head
    title Push Meme
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style.
      body         { padding-top:80px; word-wrap:break-word; }
  body
    .container
      .page-header.text-center
        h1
          span.fa.fa-anchor
          |  Profile Page

        a.btn.btn-default.btn-sm(href='/new-goal') New Goal! 
        a.btn.btn-default.btn-sm(href='/goals') My Goals
        a.btn.btn-default.btn-sm(href='/logout') Logout
      .row
        // USER INFORMATION
        .col-sm-6
          .well
            h3
              span.fa.fa-user
              if (user.facebook.token)
                span=" " + user.facebook.name
              else if (user.google.token)
                span=user.google.name
              else
                span=user.local.email
              p 
                b Email: 
                if (user.google.token)
                  span=user.google.email
                else if (user.facebook.token)
                  span=user.facebook.email
              if (!user.facebook.token)
                a.btn.btn-primary(href='/connect/facebook') Connect Facebook
              if (!user.google.token)
                a.btn.btn-danger(href='/connect/google') Connect Google
      